@charset "utf-8";

/* 11.3 CSSの基本構成
    文字コードの指定と@import
*/
@import 'https://fonts.googleapis.com/css?family=Abel';

/* ■フォントサイズ
　　主要ブラウザのデフォルトフォントサイズが16pxのため、
　　16pxの62.5% = 10pxという計算になる */
html
{
    font-size: 62.5%; /* ベースとなるフォントサイズの定義 */
}

/*  %、emは親要素、
    remはroot要素（html）を基準として計算 */
body
{
    font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif; /* フォントの種類 */
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: .1em;
    color: #4c4c4c;
    background-color: #FFFFFF;
}

.button-contact {
    font-size: 20px;
    line-height: 0;
    
    display: block;
    float: right;
    
    width: 20px;
    height: 20px;
    margin: 20px 20px 0 0;
    padding: 10px;
    
    text-align: center;
    
    color: #4c4c4c;
    
    /* border: 線幅 スタイル 線の色 */
    /* border-style -> solid、dotted、dashedの三種類がある
     */
    border: 2px solid #4c4c4c;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    /* それぞれ違うサイズで指定する場合は
        border-radius: 左上 右上 右下 左下の時計回りの順番 */
}

.uppercase, 
section h2, 
#skills h3, 
#works .works-box a .works-box-inner .button-readmore 
{
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.abel,
section h2,
#skills h3,
#works .works-box a .works-box-inner .button-readmore
{
    font-family: 'Abel', sans-serif; /* google fontsの指定 */
    
}

header .profile
{
    clear: both; /* 上のメールボタンのfloat処理を解除する */
    
    width: 60%;
    margin: 0 auto;
    padding: 60px 0;
}

header .stie-title 
{
    font-size: 1.8rem;
    line-height: normal;
}

header .site-title span
{
    font-size:4.2rem;
    display: block;
    color: #14c0c9;
    /* here */
    color: #B75C9D;
}

.block-center,
section .container,
#skills i
{
    display: block;
    margin-left: auto;
    margin-right: auto; /* align=center */
}

header .profile-icon 
{
    margin: 30px auto;
    
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
header p{
    font-size: 1.6rem;
}

section{
    padding: 60px 0;
}

section .container
{
    width: 90%;
}

section h2
{
    font-size: 3.2rem;
}

#skills 
{
    background-color: #bea300;
    background-color: #91DBB9;  /* skillsの外枠の背景色(サブカラー) */
}
    /* space-between: 
        アイテムを均等に分散する。
        最初のアイテムは始端に接する。
        最後のアイテムは終端に接する。 */
#skills .container
{
    display: -webkit-flex;  /* Safari */
    display:         flex;
    justify-content: space-between;
}
#skills h2
{
    margin-bottom: 60px;
    color: #fdfcf6;
    /*color: #428B35;*/
}

/* border-box: 
    padding と border の幅を要素の幅と高さに含める. */
#skills .skill-box
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-flex: 1;
            flex: 1;
    
    margin: 0px 10px;
    padding: 20px;
    
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #fdfcf6;
    /*background-color: #A53F88;*/
}
/* skillsのアイコンの部分 */
#skills i
{
    font-size: 4.5rem;
    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    padding-top: 15px;
    
    text-align: center;
    
    color: #fff;
    
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background-color: #14c0c9;
    background-color: #B75C9D; /* アクセントカラー */
}

/* skillsのアイコンの下の文字 */
#skills h3
{
    font-size: 2.4rem;
    font-weight: bold;
    
    margin-bottom: 10px;
    
    color: #14c0c9;
    color: #B75C9D;  /* アクセントカラー */
}

#works
{
    padding-bottom: 0;
}

#works h2
{
    margin-bottom: 50px;
}

#works .works-box
{ 
    float: left;
    width: 33.33333%;
    height: 100%;
}

#works::after
{
    display: block;
    clear: both;
    content: '';
}
#works .works-box a 
{
    position: relative;
    display: block;
}

#works .works-box a .works-box-inner {
    position: absolute;
    top: 0;
    left: 0;
    
    display: none;
    height: 100%;
    
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
}
#works .works-box a .works-box-inner div
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 70%;
    margin: auto;
    padding: 10px 20px;
}
.works-box-inner div {
    height: 70%;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    
}
.works-box {
    padding-top: 0px;
}

#works .works-box a .works-box-inner h3
{
    font-size: 1.6rem;
    font-weight: bold;
    
    margin: 0 0 5px;
}
#works .works-box a .works-box-inner small
{
    font-size: 1rem;
    display: block;
    margin-bottom: 15px;
}

#works .works-box a .works-box-inner .button-readmore
{
    font-size: 1rem;
    font-weight: bold;
    
    display: block;
    
    width: 180px;
    margin: auto;
    padding: 5px 0;
    
    text-align: center;
    
    color: #fff;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #14c0c9;
    background-color: #91DBB9;
}
#works .works-box img
{
    display: block;
    max-width: 100%;
}

#works .works-box a:hover .works-box-inner
{
    display: block;
    width: 100%;
}

#works .works-box a .works-box-inner .button-readmore:hover
{
    background-color: #0f949b;
    background-color: #3FBA97;
}

/* 連絡先（Contact）*/
#contact ul
{
    margin-top: 60px;
    text-align: center;
}
#contact ul li
{
    font-size: 2.8rem;
    
    display: inline-block;
    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 20px;
    
    text-align: center;
    vertical-align: top;
}
#contact ul li:last-child
{
    margin-right: 0;
}
#contact ul .github,
#contact ul .skype
{
    font-size: 3.2rem;
}
#contact ul .github i
{
    margin-left: 2px;
}
#contact ul a
{
    display: block;
    
    width: 50px;
    height: 50px;
    
    color: #fff;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background-color: #14c0c9;
    background-color: #B75C9D;  /*  Contactのアイコンの背景色 (アクセントカラー）*/
}

/* Skypの画像を使用した時に用いる */
/*#contact ul a.skype*/
/*{*/
/*    display: block;*/
    
/*    width: 50px;*/
/*    height: 50px;*/
    
/*    -webkit-border-radius: 50%;*/
/*       -moz-border-radius: 50%;*/
/*            border-radius: 50%;*/
/*    background-color: #fdfcf6;*/
/*}*/

#contact ul a:hover
{
    background-color: #0f949b;
    background-color: #932674;  /*  Contactのアイコンの背景色 (アクセントカラーの濃色）*/
}

/* フッターの設定 */
footer
{
    padding: 10px 0;
    text-align: center;
    
    color: #fff;
    background-color: #bea300;
}